.button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}
.container{
    height: 395px;
    width: 316px;
    background: #FFFFFF;
    border: 1px solid rgba(221,224,228,0.70);
    box-shadow: 0 16px 64px 0 rgba(0,0,0,0.08);
    border-radius: 8px;
}

.heading{
    font-family: var(--font-family);
    font-size: 18px;
    color: #2F363F;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px 0;
}

.detail{
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.p2{
    justify-content: flex-start;
    width: 100%;
}

.popup_close{
    border: none;
    background-color: transparent;
    cursor: pointer;
}